<ion-header mode="ios" *ngIf="token">

  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Scan QR</ion-title>
  </ion-toolbar>

</ion-header>

<!--****************************************** NO TOKEN *********************************************************-->

<ion-content class="background" mode="ios" *ngIf="!token">

  <br><br><br>
  <ion-card mode="ios">
    <ion-item>
      <ion-avatar slot="start" style="width: 70px ;height: 70px;">
        <img  src="assets/background/logo1.png" >
      </ion-avatar>
        <ion-card-title style="font-family: Granada">AKINOBANK</ion-card-title>
    </ion-item>
  </ion-card>


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>S'identifier</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="scan">
        <ion-icon name="scan-outline"></ion-icon>
        <ion-label>Scan QR</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-card>
          <ion-card>
            <ion-item mode="ios">
              <ion-icon name="qr-code-outline" slot="start"></ion-icon>
              <ion-label>Bienvenue à AKINOBANK</ion-label>
            </ion-item>

            <ion-card-content>
              Cliquez sur scan si vous souhaitez scanner votre code QR
            </ion-card-content>

          </ion-card>

<!--      </ion-card-content>-->
  </ion-card>
<!--  <ion-card>-->
<!--    <ngx-qrcode-->
<!--            [elementType]="elementType"-->
<!--            [value] = "qrData">-->
<!--    </ngx-qrcode>-->

<!--  </ion-card>-->
<!--  <ion-card *ngIf="scannedCode">-->
<!--    <ion-card-content >-->
<!--      Value : {{scannedCode}}-->
<!--    </ion-card-content>-->
<!--  </ion-card>-->

  <ion-card id="buttonSubmit">
    <ion-button type="submit" expand="block" color="primary" (click)="scan()">Scan</ion-button>
  </ion-card>
  <!--  <button class="bottom" ion-button clear full color="light">Don't have an account? Sign up</button>-->
</ion-content>






<ion-content  mode="ios" *ngIf="token">
 <app-navbar></app-navbar>

  <br><br><br><br>
  <ion-card>
    <!--      <ion-card-content>-->
    <ion-card>
      <ion-item mode="ios">
        <ion-icon name="scan-circle-outline"></ion-icon>
        <ion-label>Bienvenue à AKINOBANK</ion-label>
      </ion-item>

      <ion-card-content>
        Cliquez sur scan si vous souhaitez scanner votre code QR
      </ion-card-content>
      <ion-button type="submit" expand="block" color="primary" (click)="scan()">Scan</ion-button>

    </ion-card>
    <!--      </ion-card-content>-->
  </ion-card>
  <ion-card>
    <ngx-qrcode
            [elementType]="elementType"
            [value] = "qrData"
            cssClass = "aclass"
            errorCorrectionLevel = "L">
    </ngx-qrcode>
  </ion-card>
  <ion-card *ngIf="scannedCode">
    <ion-card-content >
      Value : {{scannedCode}}
    </ion-card-content>
  </ion-card>

  <!--  <button class="bottom" ion-button clear full color="light">Don't have an account? Sign up</button>-->
</ion-content>




